In [16]:
from os.path import join

import pandas as pd
import pymagicc
from pymagicc.input import MAGICCInput

In [17]:
MAGICC6_DIR = join("..", "pymagicc", "MAGICC6", "run")

In [18]:
mdata = MAGICCInput()
mdata.read(MAGICC6_DIR, "HISTRCP_CO2I_EMIS.IN")
mdata.head()

VARIABLE CO2I_EMIS
TODO           SET
UNITS          GtC
REGION      R5OECD R5REF R5ASIA R5MAF R5LAM
YEAR
1765         0.003   0.0    0.0   0.0   0.0
1766         0.003   0.0    0.0   0.0   0.0
1767         0.003   0.0    0.0   0.0   0.0
1768         0.003   0.0    0.0   0.0   0.0
1769         0.003   0.0    0.0   0.0   0.0

In [19]:
mdata.metadata

{'header': 'RCPTOOL - MAGICC 6.X DATA FILE \nVERSION:   ALPHA - FIRST DRAFT - PRIMAP xls file written on 02 Sep 2009, 17:04:37 \n \n \nDATA:  Historical fossil&industrial CO2 (CO2I) Emissions (HISTRCP_CO2I_EMIS) \nSOURCE:  RCP data as presented on http://www.iiasa.ac.at/web-apps/tnt/RcpDb, August 2009 \nCONTACT:  Base year emissions inventories: Steve Smith (ssmith@pnl.gov) and Jean-Francois Lamarque (Jean-Francois.Lamarque@noaa.gov); RCP 3-PD (IMAGE): Detlef van Vuuren (detlef.vanvuuren@pbl.nl); RCP 4.5 (MiniCAM): Allison Thomson (Allison.Thomson@pnl.gov); RCP 6.0 (AIM): Toshihiko Masui (masui@nies.go.jp); RCP 8.5 (MESSAGE): Keywan Riahi (riahi@iiasa.ac.at); Concentrations & Forcing compilation: Malte Meinshausen (malte.meinshausen@pik-potsdam.de) \n \n \n \n \n\n',
 'data': 'Historical fossil&industrial CO2 (CO2I) Emissions (HISTRCP_CO2I_EMIS)',
 'source': 'RCP data as presented on http://www.iiasa.ac.at/web-apps/tnt/RcpDb, August 2009',
 'contact': 'Base year emissions inventories: Steve Smith (ssmith@pnl.gov) and Jean-Francois Lamarque (Jean-Francois.Lamarque@noaa.gov); RCP 3-PD (IMAGE): Detlef van Vuuren (detlef.vanvuuren@pbl.nl); RCP 4.5 (MiniCAM): Allison Thomson (Allison.Thomson@pnl.gov); RCP 6.0 (AIM): Toshihiko Masui (masui@nies.go.jp); RCP 8.5 (MESSAGE): Keywan Riahi (riahi@iiasa.ac.at); Concentrations & Forcing compilation: Malte Meinshausen (malte.meinshausen@pik-potsdam.de)'}

In [25]:
mdata['CO2I_EMIS'].head()

VARIABLE CO2I_EMIS
TODO           SET
UNITS          GtC
REGION      R5OECD R5REF R5ASIA R5MAF R5LAM
YEAR
1765         0.003   0.0    0.0   0.0   0.0
1766         0.003   0.0    0.0   0.0   0.0
1767         0.003   0.0    0.0   0.0   0.0
1768         0.003   0.0    0.0   0.0   0.0
1769         0.003   0.0    0.0   0.0   0.0

In [26]:
mdata['R5ASIA', 'CO2I_EMIS'].head()

VARIABLE CO2I_EMIS
TODO           SET
UNITS          GtC
REGION      R5ASIA
YEAR
1765           0.0
1766           0.0
1767           0.0
1768           0.0
1769           0.0

In [27]:
mdata['CO2I_EMIS', 'R5ASIA'].head()

VARIABLE CO2I_EMIS
TODO           SET
UNITS          GtC
REGION      R5ASIA
YEAR
1765           0.0
1766           0.0
1767           0.0
1768           0.0
1769           0.0

In [28]:
mdata[1956, 'CO2I_EMIS', 'R5ASIA'].head()

VARIABLE CO2I_EMIS
TODO           SET
UNITS          GtC
REGION      R5ASIA
YEAR
1956      0.110425

In [29]:
mdata[1998].head()

VARIABLE CO2I_EMIS
TODO           SET
UNITS          GtC
REGION      R5OECD     R5REF    R5ASIA     R5MAF     R5LAM
YEAR
1998      3.184738  0.853781  1.648214  0.522509  0.378757