# Running CEDS Scenarios

In this notebook we document how to process and run data from the CEDS database.

In [1]:
%matplotlib inline

from os import listdir
from os.path import join, dirname
from pprint import pprint

import pandas as pd
import pyam
import pymagicc
from pymagicc.io import MAGICCData
import matplotlib.pyplot as plt
plt.style.use('bmh') 

import expectexception

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
TEST_DATA_PATH = join("..", "tests", "test_data")

## Reading in a CEDS csv

To read in CEDS csv's, we make use of the `pyam` library which is specifically designed for this purpose.

In [4]:
def read_ceds_csv(file_to_read):
    return pyam.IamDataFrame(
        data=file_to_read,
        encoding="utf-8"
    )

ceds_pyam_df = read_ceds_csv(join(TEST_DATA_PATH, "ceds-format-example.csv"))
ceds_pyam_df  # this just shows the type of ceds_pyam_df
ceds_pyam_df.data  # this returns the underlying DataFrame

INFO:root:Reading `../tests/test_data/ceds-format-example.csv`

,model,scenario,region,variable,unit,year,value
1138,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5ASIA,Emissions|BC,Mt BC/yr,2015,2
1229,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5LAM,Emissions|BC,Mt BC/yr,2015,5
1312,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5MAF,Emissions|BC,Mt BC/yr,2015,9
1395,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5OECD,Emissions|BC,Mt BC/yr,2015,2
1486,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5REF,Emissions|BC,Mt BC/yr,2015,10
1577,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,World,Emissions|BC,Mt BC/yr,2015,10
3414,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5ASIA,Emissions|BC,Mt BC/yr,2020,7
3505,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5LAM,Emissions|BC,Mt BC/yr,2020,9
3588,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5MAF,Emissions|BC,Mt BC/yr,2020,9
3671,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5OECD,Emissions|BC,Mt BC/yr,2020,8
3762,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5REF,Emissions|BC,Mt BC/yr,2020,3
3853,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,World,Emissions|BC,Mt BC/yr,2020,4
5690,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5ASIA,Emissions|BC,Mt BC/yr,2030,3
5781,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5LAM,Emissions|BC,Mt BC/yr,2030,8
5864,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5MAF,Emissions|BC,Mt BC/yr,2030,7
5947,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5OECD,Emissions|BC,Mt BC/yr,2030,8
6038,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5REF,Emissions|BC,Mt BC/yr,2030,0
6129,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,World,Emissions|BC,Mt BC/yr,2030,4
7966,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5ASIA,Emissions|BC,Mt BC/yr,2040,10
8057,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5LAM,Emissions|BC,Mt BC/yr,2040,3
8140,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5MAF,Emissions|BC,Mt BC/yr,2040,8
8223,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5OECD,Emissions|BC,Mt BC/yr,2040,4
8314,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5REF,Emissions|BC,Mt BC/yr,2040,0
8405,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,World,Emissions|BC,Mt BC/yr,2040,4
10242,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5ASIA,Emissions|BC,Mt BC/yr,2050,7
10333,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5LAM,Emissions|BC,Mt BC/yr,2050,3
10416,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5MAF,Emissions|BC,Mt BC/yr,2050,6
10499,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5OECD,Emissions|BC,Mt BC/yr,2050,2
10590,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,R5REF,Emissions|BC,Mt BC/yr,2050,7
10681,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,World,Emissions|BC,Mt BC/yr,2050,6
...,...,...,...,...,...,...,...
12039,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5ASIA,Emissions|VOC|Waste,Mt VOC/yr,2060,10
12122,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5LAM,Emissions|VOC|Waste,Mt VOC/yr,2060,3
12205,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5MAF,Emissions|VOC|Waste,Mt VOC/yr,2060,10
12296,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5OECD,Emissions|VOC|Waste,Mt VOC/yr,2060,10
12387,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5REF,Emissions|VOC|Waste,Mt VOC/yr,2060,3
12517,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,World,Emissions|VOC|Waste,Mt VOC/yr,2060,10
14315,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5ASIA,Emissions|VOC|Waste,Mt VOC/yr,2070,8
14398,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5LAM,Emissions|VOC|Waste,Mt VOC/yr,2070,4
14481,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5MAF,Emissions|VOC|Waste,Mt VOC/yr,2070,2
14572,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5OECD,Emissions|VOC|Waste,Mt VOC/yr,2070,5
14663,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5REF,Emissions|VOC|Waste,Mt VOC/yr,2070,10
14793,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,World,Emissions|VOC|Waste,Mt VOC/yr,2070,6
16591,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5ASIA,Emissions|VOC|Waste,Mt VOC/yr,2080,9
16674,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5LAM,Emissions|VOC|Waste,Mt VOC/yr,2080,0
16757,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5MAF,Emissions|VOC|Waste,Mt VOC/yr,2080,5
16848,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5OECD,Emissions|VOC|Waste,Mt VOC/yr,2080,1
16939,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5REF,Emissions|VOC|Waste,Mt VOC/yr,2080,2
17069,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,World,Emissions|VOC|Waste,Mt VOC/yr,2080,0
18867,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5ASIA,Emissions|VOC|Waste,Mt VOC/yr,2090,10
18950,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5LAM,Emissions|VOC|Waste,Mt VOC/yr,2090,5
19033,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5MAF,Emissions|VOC|Waste,Mt VOC/yr,2090,5
19124,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5OECD,Emissions|VOC|Waste,Mt VOC/yr,2090,2
19215,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5REF,Emissions|VOC|Waste,Mt VOC/yr,2090,7
19345,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,World,Emissions|VOC|Waste,Mt VOC/yr,2090,6
21143,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5ASIA,Emissions|VOC|Waste,Mt VOC/yr,2100,4
21226,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5LAM,Emissions|VOC|Waste,Mt VOC/yr,2100,4
21309,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5MAF,Emissions|VOC|Waste,Mt VOC/yr,2100,2
21400,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5OECD,Emissions|VOC|Waste,Mt VOC/yr,2100,10
21491,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,R5REF,Emissions|VOC|Waste,Mt VOC/yr,2100,4
21621,NAME-MODEL-2,SCENARIO-NAME-HYPHENS,World,Emissions|VOC|Waste,Mt VOC/yr,2100,5

## Checking an `IamDataFrame`

It is very easy to check that the sum of a given variable's sub-categories is equal to its declared total and that the sum of regions gives the world total.

We show how in the next cell.

In [5]:
# show check_internal_consistency method here

## Reshaping an `IamDataFrame`

Here we show how to reshape an `IamDataFrame` to get it into the format expected by `openscm` so we can then write files with the data in it.

Note: we normally want to take this step last, after we have done all our aggregation etc., as it means that we no longer have an `IamDataFrame` and can't use all the helpful tools it provides any more.

In [6]:
def reshape_pyam_df(pyam_df):
    raw_df = pyam_df.data
    
    reindexed_df = raw_df.set_index(
        ["model", "scenario", "region", "variable", "unit", "year"]
    ).unstack().T
    
    reindexed_df.index = reindexed_df.index.get_level_values("year")
    reindexed_df.index.name = "YEAR"
    
    models = reindexed_df.columns.get_level_values("model")
    scenarios = reindexed_df.columns.get_level_values("scenario")
    regions = reindexed_df.columns.get_level_values("region")
    variables = reindexed_df.columns.get_level_values("variable")
    units = reindexed_df.columns.get_level_values("unit")
    todos = ["SET"] * len(units)
    
    reindexed_df.columns = pd.MultiIndex.from_arrays(
        [models, scenarios, variables, todos, units, regions],
        names=("MODEL", "SCENARIO", "VARIABLE", "TODO", "UNITS", "REGION"),
    )
    
    return reindexed_df

In [7]:
reshape_pyam_df(ceds_pyam_df)

MODEL    MODEL-NAME-HYPHENS                                          \
SCENARIO SCENARIO-A-B-CDE-2
VARIABLE       Emissions|BC Emissions|BC|Agricultural Waste Burning
TODO                    SET                                     SET
UNITS              Mt BC/yr                                Mt BC/yr
REGION               R5ASIA                                  R5ASIA
YEAR
2015                      2                                       8
2020                      7                                       1
2030                      3                                       9
2040                     10                                       8
2050                      7                                       2
2060                      0                                       9
2070                      0                                       6
2080                      2                                       1
2090                     10                                       6
2100                      8                                       8

MODEL                                                            \
SCENARIO
VARIABLE Emissions|BC|Energy Sector Emissions|BC|Forest Burning
TODO                            SET                         SET
UNITS                      Mt BC/yr                    Mt BC/yr
REGION                       R5ASIA                      R5ASIA
YEAR
2015                              7                           5
2020                              4                           2
2030                              6                           1
2040                              6                          10
2050                              9                           8
2060                              1                          10
2070                              3                          10
2080                              6                           0
2090                              6                           4
2100                              4                           4

MODEL                                                                   \
SCENARIO
VARIABLE Emissions|BC|Grassland Burning Emissions|BC|Industrial Sector
TODO                                SET                            SET
UNITS                          Mt BC/yr                       Mt BC/yr
REGION                           R5ASIA                         R5ASIA
YEAR
2015                                  6                              1
2020                                  7                              9
2030                                  7                              4
2040                                  4                              9
2050                                  3                              0
2060                                  2                              5
2070                                  3                              0
2080                                  4                              6
2090                                  3                             10
2100                                  1                              3

MODEL                                                                         \
SCENARIO
VARIABLE Emissions|BC|Peat Burning Emissions|BC|Residential Commercial Other
TODO                           SET                                       SET
UNITS                     Mt BC/yr                                  Mt BC/yr
REGION                      R5ASIA                                    R5ASIA
YEAR
2015                             5                                         1
2020                             5                                         8
2030                             5                                         4
2040                             8                                         8
2050                             4                                         2
2060                             0                                         8
2070                             0                                         8
2080                             6                                         3
2090                             4                                         7
2100                             1                                         2

MODEL                                                           \
SCENARIO
VARIABLE Emissions|BC|Transportation Sector Emissions|BC|Waste
TODO                                    SET                SET
UNITS                              Mt BC/yr           Mt BC/yr
REGION                               R5ASIA             R5ASIA
YEAR
2015                                      8                  8
2020                                      2                  1
2030                                      2                  1
2040                                      4                  8
2050                                      6                  6
2060                                     10                  8
2070                                      6                  6
2080                                      9                  7
2090                                      1                  0
2100                                      0                  2

MODEL            ...                        NAME-MODEL-2  \
SCENARIO         ...               SCENARIO-NAME-HYPHENS
VARIABLE         ...         Emissions|VOC|Energy Sector
TODO             ...                                 SET
UNITS            ...                           Mt VOC/yr
REGION           ...                               World
YEAR             ...
2015             ...                                   5
2020             ...                                  10
2030             ...                                   4
2040             ...                                   2
2050             ...                                   4
2060             ...                                   8
2070             ...                                   6
2080             ...                                   2
2090             ...                                   7
2100             ...                                   7

MODEL                                                                  \
SCENARIO
VARIABLE Emissions|VOC|Forest Burning Emissions|VOC|Grassland Burning
TODO                              SET                             SET
UNITS                       Mt VOC/yr                       Mt VOC/yr
REGION                          World                           World
YEAR
2015                                2                               8
2020                                2                               5
2030                                7                               6
2040                                0                               1
2050                                1                               0
2060                                5                               9
2070                                2                               4
2080                                7                               9
2090                               10                               2
2100                                3                               8

MODEL                                                                          \
SCENARIO
VARIABLE Emissions|VOC|Industrial Sector Emissions|VOC|International Shipping
TODO                                 SET                                  SET
UNITS                          Mt VOC/yr                            Mt VOC/yr
REGION                             World                                World
YEAR
2015                                   5                                    2
2020                                   4                                    4
2030                                   5                                    2
2040                                   4                                    8
2050                                   7                                    1
2060                                   0                                    9
2070                                   5                                    1
2080                                   5                                    2
2090                                   4                                    7
2100                                   0                                    1

MODEL                                \
SCENARIO
VARIABLE Emissions|VOC|Peat Burning
TODO                            SET
UNITS                     Mt VOC/yr
REGION                        World
YEAR
2015                              1
2020                              6
2030                              1
2040                              0
2050                             10
2060                              8
2070                              5
2080                              6
2090                              8
2100                              6

MODEL                                                \
SCENARIO
VARIABLE Emissions|VOC|Residential Commercial Other
TODO                                            SET
UNITS                                     Mt VOC/yr
REGION                                        World
YEAR
2015                                              0
2020                                              4
2030                                              1
2040                                              8
2050                                              4
2060                                              6
2070                                              7
2080                                              3
2090                                              8
2100                                              3

MODEL                                                       \
SCENARIO
VARIABLE Emissions|VOC|Solvents Production and Application
TODO                                                   SET
UNITS                                            Mt VOC/yr
REGION                                               World
YEAR
2015                                                     8
2020                                                     6
2030                                                     4
2040                                                     1
2050                                                     5
2060                                                     3
2070                                                     9
2080                                                     1
2090                                                    10
2100                                                     9

MODEL
SCENARIO
VARIABLE Emissions|VOC|Transportation Sector Emissions|VOC|Waste
TODO                                     SET                 SET
UNITS                              Mt VOC/yr           Mt VOC/yr
REGION                                 World               World
YEAR
2015                                       2                   6
2020                                       9                   7
2030                                       7                   5
2040                                       8                  10
2050                                       4                   2
2060                                       6                  10
2070                                       2                   6
2080                                       4                   0
2090                                       6                   6
2100                                       5                   5

[10 rows x 2276 columns]

## Converting IAM data to MAGICC data

The `pyam` library provides some very natural ways of filtering their DataFrames. These are detailed in [their tutorial](https://github.com/IAMconsortium/pyam/blob/master/tutorial/pyam_first_steps.ipynb). Here we use them to help convert IAM data into the emissions variables, regions and units used by MAGICC.

In [8]:
tdf = ceds_pyam_df.filter(
    level=1,
    model="MODEL-NAME-HYPHENS",
    scenario="SCENARIO-A-B-CDE-2",
    region="World",
)

In [18]:
def convert_ceds_to_openscm_variables(ceds_var):
    raw_ceds_var = ceds_var.replace("Emissions|", "")
    
    special_cases = {
        "Sulfur": "SOX",
    }
    
    if raw_ceds_var in special_cases:
        raw_var = special_cases[raw_ceds_var]
    else:
        raw_var = raw_ceds_var.replace("-", "").upper()
        
    return "Emissions|" + raw_var

def convert_ceds_to_openscm_world_table(pyam_df):
    magicc_df = pyam.IamDataFrame(data=pyam_df.data.copy())
    magicc_df = magicc_df.filter(
        level=1,
        region="World"
    )
    magicc_df.data.variable = magicc_df.data.variable.apply(convert_ceds_to_openscm_variables)
    magicc_df.data.region = magicc_df.data.region.str.upper()
    return magicc_df

In [19]:
openscm_world_df = convert_ceds_to_openscm_world_table(ceds_pyam_df)
openscm_world_df.head()
openscm_world_df.variables()

,model,scenario,region,variable,unit,year,value
1577,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,WORLD,Emissions|BC,Mt BC/yr,2015,10
3853,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,WORLD,Emissions|BC,Mt BC/yr,2020,4
6129,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,WORLD,Emissions|BC,Mt BC/yr,2030,4
8405,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,WORLD,Emissions|BC,Mt BC/yr,2040,4
10681,MODEL-NAME-HYPHENS,SCENARIO-A-B-CDE-2,WORLD,Emissions|BC,Mt BC/yr,2050,6

0            Emissions|BC
1          Emissions|C2F6
2          Emissions|CCL4
3           Emissions|CF4
4         Emissions|CFC11
5        Emissions|CFC113
6        Emissions|CFC114
7        Emissions|CFC115
8         Emissions|CFC12
9           Emissions|CH3
10      Emissions|CH3CCL3
11        Emissions|CH3CL
12          Emissions|CH4
13           Emissions|CO
14          Emissions|CO2
15     Emissions|HCFC141B
16     Emissions|HCFC142B
17       Emissions|HCFC22
18          Emissions|HFC
19    Emissions|HALON1202
20    Emissions|HALON1211
21    Emissions|HALON1301
22    Emissions|HALON2402
23          Emissions|N2O
24          Emissions|NH3
25          Emissions|NOX
26           Emissions|OC
27          Emissions|SF6
28          Emissions|SOX
29          Emissions|VOC
Name: variable, dtype: object

In [20]:
reshape_pyam_df(openscm_world_df)

MODEL    MODEL-NAME-HYPHENS                                              \
SCENARIO SCENARIO-A-B-CDE-2
VARIABLE       Emissions|BC Emissions|C2F6 Emissions|CCL4 Emissions|CF4
TODO                    SET            SET            SET           SET
UNITS              Mt BC/yr     kt C2F6/yr     kt CCl4/yr     kt CF4/yr
REGION                WORLD          WORLD          WORLD         WORLD
YEAR
2015                     10             10              5             8
2020                      4              8              3             9
2030                      4              7              4             2
2040                      4              1              5             8
2050                      6              7              1             2
2060                      1              1              6             8
2070                      4              2              5             2
2080                      9              2              8             8
2090                      1              8              6             7
2100                      2              8              8             6

MODEL                                                                        \
SCENARIO
VARIABLE Emissions|CFC11 Emissions|CFC113 Emissions|CFC114 Emissions|CFC115
TODO                 SET              SET              SET              SET
UNITS       kt CFC-11/yr    kt CFC-113/yr    kt CFC-114/yr    kt CFC-115/yr
REGION             WORLD            WORLD            WORLD            WORLD
YEAR
2015                  10                6                2                5
2020                   1                6               10               10
2030                   7                8                0                5
2040                   3                9                0                4
2050                   0                7                1               10
2060                  10                6               10                5
2070                   3                0               10                7
2080                   7                3                2                7
2090                   6                2                9                3
2100                   4                6                2                7

MODEL                                       ...               NAME-MODEL-2  \
SCENARIO                                    ...      SCENARIO-NAME-HYPHENS
VARIABLE Emissions|CFC12 Emissions|CH3      ...         Emissions|HCFC142B
TODO                 SET           SET      ...                        SET
UNITS       kt CFC-12/yr   kt CH3Br/yr      ...            kt HCFC-142b/yr
REGION             WORLD         WORLD      ...                      WORLD
YEAR                                        ...
2015                   4             3      ...                          1
2020                   7            10      ...                          2
2030                   7             9      ...                          4
2040                   5             6      ...                          9
2050                   7             3      ...                          8
2060                   0             0      ...                          1
2070                   0             4      ...                          7
2080                   6             5      ...                          8
2090                   8             2      ...                          6
2100                   0             1      ...                          3

MODEL                                                                  \
SCENARIO
VARIABLE Emissions|HCFC22   Emissions|HFC Emissions|N2O Emissions|NH3
TODO                  SET             SET           SET           SET
UNITS       kt HCFC-22/yr Mt CO2-equiv/yr     kt N2O/yr     Mt NH3/yr
REGION              WORLD           WORLD         WORLD         WORLD
YEAR
2015                    3               8             3            10
2020                    6               5             3             4
2030                    0               3             0             3
2040                    0               7             3             2
2050                    7               6             6             1
2060                    4               3            10             8
2070                    3               4             3             8
2080                    8               9             2             9
2090                    5               8             1             5
2100                    4               2            10             4

MODEL
SCENARIO
VARIABLE Emissions|NOX Emissions|OC Emissions|SF6 Emissions|SOX Emissions|VOC
TODO               SET          SET           SET           SET           SET
UNITS        Mt NOx/yr     Mt OC/yr     kt SF6/yr     Mt SO2/yr     Mt VOC/yr
REGION           WORLD        WORLD         WORLD         WORLD         WORLD
YEAR
2015                 2           10             7             4             5
2020                 0            4             2             1             0
2030                 7            9             1             5             5
2040                 5            4             1             5             0
2050                 9            3             5             9             8
2060                10            5             0             6             8
2070                 4            0             0             5             7
2080                10            1             0             1             5
2090                 4            1             7             4             2
2100                 0            7             4             1             9

[10 rows x 120 columns]

## WIP from here down

In [21]:
# ceds openscm mapping
ceds_openscm_var_mapping = {
    "Aircraft": ["Aircraft"],
    "International Shipping": ["International Shipping"],
    "AFOLULUC": ["Agricultural Waste Burning", "Agriculture", "Forest Burning", "Grassland Burning", "Peat Burning", "Aggregate - Agriculture and LUC"],
    "Fossil": ["Energy Sector", "Industrial Sector", "Residential Commercial Other", "Solvents Production and Application", "Transportation Sector", "Waste"]
}
# need better name for this
TMP_INDEX = ['model', 'scenario', 'region', 'year', 'unit']

In [102]:
def convert_ceds_to_openscm_regional_sectoral_table(pyam_df):
    magicc_df = pyam.IamDataFrame(data=pyam_df.data.copy())
    
    output_df = magicc_df.filter(level=1,).data
    
    magicc_df = magicc_df.filter(
        level='1-', 
        keep=False
    )
    
    handled_vars = []
    metadata = {}
    for variable in magicc_df.variables():
        base_var = "|".join(variable.split("|")[:2])
        
        for category, suffixes in ceds_openscm_var_mapping.items():
            openscm_var = "{}|{}".format(
                convert_ceds_to_openscm_variables(variable.split("|")[1]),
                category,
            )
            if openscm_var in handled_vars:
                continue
            handled_vars.append(openscm_var)
            
            contrib_vars = ["{}|{}".format(base_var, s) for s in suffixes]
            
            var_cat_df = magicc_df.data[magicc_df.data.variable.isin(contrib_vars)]
            var_cat_df = pd.DataFrame(var_cat_df.groupby(TMP_INDEX).sum()['value'])
            var_cat_df = pd.concat([var_cat_df], keys=[openscm_var], names=['variable'])

            output_df = pd.concat([output_df, var_cat_df.reset_index()])

            metadata[openscm_var] = "Sum of {}".format(", ".join(contrib_vars))
    
    return pyam.IamDataFrame(data=output_df), metadata
#     return output_df, metadata

In [103]:
# ceds_pyam_df.filter(level=1,).data

In [109]:
converted = convert_ceds_to_openscm_regional_sectoral_table(ceds_pyam_df)[0]
converted.variables()
# converted.data
# converted.check_aggregate("Emissions|BC")
reshape_pyam_df(converted)
# converted.data

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

0                             Emissions|BC
1                    Emissions|BC|AFOLULUC
2                    Emissions|BC|Aircraft
3                      Emissions|BC|Fossil
4      Emissions|BC|International Shipping
5                           Emissions|C2F6
6                           Emissions|CCl4
7                            Emissions|CF4
8                         Emissions|CFC-11
9                        Emissions|CFC-113
10                       Emissions|CFC-114
11                       Emissions|CFC-115
12                        Emissions|CFC-12
13                           Emissions|CH3
14                       Emissions|CH3CCl3
15                         Emissions|CH3Cl
16                           Emissions|CH4
17                  Emissions|CH4|AFOLULUC
18                    Emissions|CH4|Fossil
19    Emissions|CH4|International Shipping
20                            Emissions|CO
21                           Emissions|CO2
22                  Emissions|CO2|AFOLULUC
23                  Emissions|CO2|Aircraft
24                    Emissions|CO2|Fossil
25    Emissions|CO2|International Shipping
26                   Emissions|CO|AFOLULUC
27                   Emissions|CO|Aircraft
28                     Emissions|CO|Fossil
29     Emissions|CO|International Shipping
                      ...
35                     Emissions|Halon1211
36                     Emissions|Halon1301
37                     Emissions|Halon2402
38                           Emissions|N2O
39                           Emissions|NH3
40                  Emissions|NH3|AFOLULUC
41                  Emissions|NH3|Aircraft
42                    Emissions|NH3|Fossil
43    Emissions|NH3|International Shipping
44                  Emissions|NOX|AFOLULUC
45                  Emissions|NOX|Aircraft
46                    Emissions|NOX|Fossil
47    Emissions|NOX|International Shipping
48                           Emissions|NOx
49                            Emissions|OC
50                   Emissions|OC|AFOLULUC
51                   Emissions|OC|Aircraft
52                     Emissions|OC|Fossil
53     Emissions|OC|International Shipping
54                           Emissions|SF6
55                  Emissions|SOX|AFOLULUC
56                  Emissions|SOX|Aircraft
57                    Emissions|SOX|Fossil
58    Emissions|SOX|International Shipping
59                        Emissions|Sulfur
60                           Emissions|VOC
61                  Emissions|VOC|AFOLULUC
62                  Emissions|VOC|Aircraft
63                    Emissions|VOC|Fossil
64    Emissions|VOC|International Shipping
Name: variable, Length: 65, dtype: object

MODEL    MODEL-NAME-HYPHENS                                            \
SCENARIO SCENARIO-A-B-CDE-2
VARIABLE       Emissions|BC Emissions|BC|AFOLULUC Emissions|BC|Fossil
TODO                    SET                   SET                 SET
UNITS              Mt BC/yr              Mt BC/yr            Mt BC/yr
REGION               R5ASIA                R5ASIA              R5ASIA
YEAR
2015.0                    2                    24                  25
2020.0                    7                    15                  24
2030.0                    3                    22                  17
2040.0                   10                    30                  35
2050.0                    7                    17                  23
2060.0                    0                    21                  32
2070.0                    0                    19                  23
2080.0                    2                    11                  31
2090.0                   10                    17                  24
2100.0                    8                    14                  11

MODEL                                                               \
SCENARIO
VARIABLE Emissions|CH4 Emissions|CH4|AFOLULUC Emissions|CH4|Fossil
TODO               SET                    SET                  SET
UNITS        Mt CH4/yr              Mt CH4/yr            Mt CH4/yr
REGION          R5ASIA                 R5ASIA               R5ASIA
YEAR
2015.0               8                     35                   22
2020.0               4                     30                   29
2030.0               7                     21                    9
2040.0               8                     21                   32
2050.0               4                     35                   30
2060.0               3                     23                   25
2070.0               0                     26                   18
2080.0               9                     25                   21
2090.0               0                     36                   28
2100.0               8                     22                   25

MODEL                                                     \
SCENARIO
VARIABLE Emissions|CO Emissions|CO2 Emissions|CO2|Fossil
TODO              SET           SET                  SET
UNITS        Mt CO/yr     Mt CO2/yr            Mt CO2/yr
REGION         R5ASIA        R5ASIA               R5ASIA
YEAR
2015.0              5             7                   27
2020.0              6            10                   27
2030.0              4             1                   31
2040.0              5             8                   36
2050.0              3             7                   25
2060.0              4             3                   23
2070.0              6             2                   44
2080.0              0             7                   37
2090.0              0             3                   16
2100.0              0             3                   28

MODEL                                          ...                   \
SCENARIO                                       ...
VARIABLE Emissions|CO|AFOLULUC                 ...
TODO                       SET                 ...
UNITS                 Mt CO/yr                 ...
REGION                  R5ASIA                 ...
YEAR                                           ...
2015.0                      28                 ...
2020.0                      12                 ...
2030.0                      26                 ...
2040.0                      15                 ...
2050.0                      16                 ...
2060.0                      32                 ...
2070.0                      27                 ...
2080.0                      22                 ...
2090.0                      14                 ...
2100.0                      28                 ...

MODEL              NAME-MODEL-2                                              \
SCENARIO  SCENARIO-NAME-HYPHENS
VARIABLE Emissions|SOX|AFOLULUC Emissions|SOX|Aircraft Emissions|SOX|Fossil
TODO                        SET                    SET                  SET
UNITS                 Mt SO2/yr              Mt SO2/yr            Mt SO2/yr
REGION                    World                  World                World
YEAR
2015.0                       19                      2                   38
2020.0                       17                      0                   24
2030.0                        9                      6                   18
2040.0                       25                      7                   27
2050.0                       30                      3                   30
2060.0                       27                      4                   31
2070.0                       17                      5                   42
2080.0                       30                      0                   34
2090.0                       12                      7                   15
2100.0                       17                      5                   31

MODEL                                                                         \
SCENARIO
VARIABLE Emissions|SOX|International Shipping Emissions|Sulfur Emissions|VOC
TODO                                      SET              SET           SET
UNITS                               Mt SO2/yr        Mt SO2/yr     Mt VOC/yr
REGION                                  World            World         World
YEAR
2015.0                                      8                4             5
2020.0                                      3                1             0
2030.0                                      0                5             5
2040.0                                      4                5             0
2050.0                                      5                9             8
2060.0                                      6                6             8
2070.0                                      1                5             7
2080.0                                      1                1             5
2090.0                                      0                4             2
2100.0                                      2                1             9

MODEL                                                                        \
SCENARIO
VARIABLE Emissions|VOC|AFOLULUC Emissions|VOC|Aircraft Emissions|VOC|Fossil
TODO                        SET                    SET                  SET
UNITS                 Mt VOC/yr              Mt VOC/yr            Mt VOC/yr
REGION                    World                  World                World
YEAR
2015.0                       11                      7                   26
2020.0                       22                      0                   40
2030.0                       17                      9                   26
2040.0                        9                      0                   33
2050.0                       13                      4                   26
2060.0                       25                      9                   33
2070.0                       12                      0                   35
2080.0                       32                     10                   15
2090.0                       21                      4                   41
2100.0                       17                      8                   29

MODEL
SCENARIO
VARIABLE Emissions|VOC|International Shipping
TODO                                      SET
UNITS                               Mt VOC/yr
REGION                                  World
YEAR
2015.0                                      2
2020.0                                      4
2030.0                                      2
2040.0                                      8
2050.0                                      1
2060.0                                      9
2070.0                                      1
2080.0                                      2
2090.0                                      7
2100.0                                      1

[10 rows x 780 columns]